[Unit]
Description=OpenAFS Client Service
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/openafs
ExecStartPre=/usr/bin/modprobe libafs
ExecStart=/usr/bin/afsd $AFSD_ARGS
ExecStartPost=/usr/bin/fs setcrypt on
ExecStop=/usr/bin/umount /afs
ExecStop=/usr/bin/afsd -shutdown
ExecStop=/usr/bin/rmmod libafs
KillMode=none

[Install]
WantedBy=multi-user.target remote-fs.target
